@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    height: 100%;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
.background{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
}

.form-bg{
    background-color: #F2EACB;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}
.booking-form{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.booking-form h2{
    text-align: center;
}
.booking-form form{
    display: flex;
    flex-direction: column;
}
.booking-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking-form button{
    margin-top:50px;
    padding: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}