@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    height: 100%;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
.background{
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-form h1{
    text-align: center;
}